.photo {
    padding: 30px;
    width: 45%;
    text-align: center;
    float: left;
}

.photo img {
    max-height: 240px;
}


.description {
    padding: 30px;
    float: left;
    width: 55%;
    border-left: 2px solid #efefef;
}